*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: bisque;
    width: 100%;
    font-family: 'ABeeZee', sans-serif;
}

.wrapper{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.welcome{
    position: absolute;
    top: -2%;
    z-index: -1;
    font-size: 23vw;
    color: darken(bisque, 10%);
    text-shadow: 5px 10px darken(bisque, 20%);;
    @media(min-width: 540px){
        display: flex;
        flex-flow: row nowrap;
        top: 15%; 
        font-size: 30vw;
        width: 100%;
        justify-content: space-between;
        max-width: 1200px;
    }
}



.face{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    .eyes{
        grid-column: 1/4;
        grid-row: 1/2;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-end;
        .left-eye,
        .right-eye{
            display: flex;
            justify-content: center;
            align-items: center;
            svg:nth-child(2){
                position:relative;
                left: -50%;
            }
        }
    }

    .nose{
        grid-column: 2/3;
        grid-row: 1/3;
        align-self: flex-start;
        margin-left: 1rem;
        margin-top: 6rem;
        width: 70%;
    }
    .mouth{
        grid-column: 1/4;
        grid-row: 2/3;
        display: flex;
        position: relative;
        align-self: flex-start;
        margin-top: 3rem;
        .lips,
        .hole,
        .teeth{
            position: absolute;
            width: 100%;
            height: auto;
        }
        .hole,
        .teeth{
            top: 2rem;
            left: 2rem;
            width: 80%;
        }
    }
}
